:root {
    --primary-color: hsla(0, 0%, 100%, 0.753);
    --secondary-color: #718355;
    --text-color-light: #e9f5db;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    font-style: normal;
    background-color: var(--secondary-color);
    width: 100%;
    max-width: 1200px;
    margin: 0;
    display: flex;
    height: 100vh;
}

.container{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}

    .hero{
        padding: 20px;
        text-align: center;
        width: 100%;
        color: var(--text-color-light);
        
        h1{
            font-size: 1.7rem;
            margin: 0;
        }
        p{
            font-weight: bold;
            margin: 0;
        }
    }

 .info{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;

    .player-info, .roll-counter{     
        text-align: center;
    }
    .roll-counter{
        text-align: center;
        background-color: #3d492927;
    }
}

.game_display{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

    .choice{
        color: var(--text-color-light);
    }
}

.btn{
    padding: 10px;
    width: 100px;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 3px;
    border: none;
}
.userInput, .controls{
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.controls{
    #end{
        background-color: rgb(252, 7, 7);
        color: var(--text-color-light);
    }
    #restart, #new{
        background-color: rgb(1, 31, 1);
        color: var(--text-color-light);
    }
}

@media (min-width: 600px) {
    
    
    .game_display{
        padding: 5px;
    }
    .btn{
        padding: 0; 
    }
    .userInput, .controls{
        width: 60%;
        justify-content: space-evenly;
        margin: 0 auto;
        padding: 10px;
    }
}